<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->

<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
  </configSections>

  <location path="favicon.ico">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bundle">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="trace.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="KIPWebPortal">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Widgets/Documents">
    <system.web>
      <httpRuntime maxRequestLength="8000" />
    </system.web>
  </location>

  <appSettings>
    <clear />
    <add key="MainDatabaseType" value="SQLSERVER" />
    <add key="MainDatabaseConnectionType" value="NATIVE" />
    <add key="MainDatabaseServer" value="localhost" />
    <add key="MainDatabaseName" value="KIPAutomationUsers" />
    <add key="MainDatabaseUserName" value="KIPUSER" />
    <add key="MainDatabasePassword" value="EMPAS96" />
    <add key="MainDatabaseReadOnlyUserName" value="KIPREADONLYUSER" />
    <add key="MainDatabaseReadOnlyPassword" value="EMPAS96" />
    
    <add key="MainDatabaseQueryTimeout" value="60" />
    <add key="SiteDatabaseEnabled" value="true" />    
    <add key="ScratchPadDatabaseType" value="SQLSERVER" />
    <add key="ScratchPadDatabaseConnectionType" value="NATIVE" />
    <add key="ScratchPadDatabaseServer" value="localhost" />
    <add key="ScratchPadDatabaseName" value="KIPAutomationScratchPad" />
    <add key="ScratchPadDatabaseUserName" value="KIPUSER" />
    <add key="ScratchPadDatabasePassword" value="EMPAS96" />

    <add key="UseSecureConnection" value="false" />
    <add key="SingleSignOn" value="false" />
    <!-- True, False, SignOnOnly -->
    <add key="ForceHttpsForIcalUrls" value="False" />
    <add key="UseLegacyEncryption" value="False" />
    <add key="AllowTrustedLogon" value="True" />
    <add key="EnforceEmailAddressIds" value="true" />
    <add key="AllowPasswordReset" value="true" />
    <add key="Host" value="localhost" />
    <add key="LocalExportURL" value="http://localhost" />
    <add key="SupportURL" value="" />
    <add key="RemoteAssistance" value="on" />
    <add key="ShowServiceUpdates" value="True" />
    <add key="WebinarRSSFeedURL" value="" />
    <add key="ShowAdditionalErrorInfo" value="True" />
    <add key="FeedbackEmailAddress" value="" />
    <add key="ContactEmailAddress" value="" />
    <add key="ContactTelephoneNumber" value="" />
    <add key="MobileAccessURL" value="" />
    <add key="ForumURL" value="" />
    <add key="BlogURL" value="http://blog.keyedin.com/" />
    <add key="TutorialsURL" value="" />
    <add key="AllowMobilePushNotifications" value="false" />
    <add key="UploadLimitValidation" value="8000" />
    <add key="MobileApplicationURL" value="https://v6mobile.keyedinprojects.co.uk/" />
         
    <!-- add key="OnlineHelpLocation" value="http://help.keyedinprojects.com/en" -->

    <add key="AppLockoutTimePeriod" value="2" />
    <!-- number of hours an account is locked out for -->
    <add key="AppLockoutAttempts" value="10" />
    <!-- number of unsuccessful attempts in an hour before locking out -->

    <add key="TryMeMode" value="False" />

    <add key="RegistrationURL" value="http://www.keyedin.com/keyedinprojects/resources/" />
    <add key="ResourceCentreURL" value="http://www.keyedin.com/keyedinprojects/resources/" />
    <add key="LogoutURL" value="~/" />
    <add key="ShowPrivacyLogo" value="True" />
    <add key="ApplicationTitle" value="" />

    <add key="ShowWebServerName" value="False" />
    <add key="MarketingURL" value="" />
    <add key="PrivacyURL" value="http://www.keyedin.com/privacy-policy/" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
  </appSettings>

  <system.web>
    <authentication mode="Forms">
      <!-- Forms Authentication timeout should be same as or greater than session timeout so as to avoid redirects to this url from ajax rendered content-->
      <!-- requireSSL for live environments -->
      <forms loginUrl="~/KIPWebPortal/secure/sec_login.aspx" defaultUrl="~/" name="k1" timeout="120" slidingExpiration="true" requireSSL="false" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <compilation batch="false" debug="true" optimizeCompilations="false" targetFramework="4.5.1" />

    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="8000" executionTimeout="6000" />

    <customErrors defaultRedirect="~/KIPWebPortal/common/com_error.aspx" mode="RemoteOnly" />

    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-GB" uiCulture="en" />


    <machineKey validationKey="AA1076C90223B9969CC46CBC68C159FA7513345FEF05B0DC71A5D225A4A01B78364429D67E9199CB05AC8C541A3B732D6A71CF5BF459A5976630D132C96FC9DE" decryptionKey="4079CFFED1F8988CE20C4A25715D8B86E613AB88CC4BFE426B8002EB3D2F80BF" validation="SHA1" decryption="AES" />

    <sessionState mode="StateServer" cookieless="false" timeout="60" compressionEnabled="true" stateConnectionString="tcpip=127.0.0.1:42424" />
    <!--<sessionState allowCustomSqlDatabase="false" compressionEnabled="false" mode="SQLServer" sqlCommandTimeout="7200" sqlConnectionString="Server=localhost;User ID=AECTESUSER;Password=EMPAS96;" timeout="120" />-->

    <siteMap defaultProvider="AGSSiteMapProvider" enabled="true">
      <providers>
        <add name="AGSSiteMapProvider" type="KIPWebPortal.RootSiteMapProvider" />
        <add name="MySettingsSiteMapProvider" type="KIPWebPortal.MySettingsSiteMapProvider" />
        <add name="TabbedUISiteMapProvider" type="KIPWebPortal.TabbedUISiteMapProvider" />
        <add name="HelpSiteMapProvider" type="KIPWebPortal.HelpSiteMapProvider" />
        <add name="ConfigSiteMapProvider" type="KIPWebPortal.Admin.ConfigSiteMapProvider" />
      </providers>
    </siteMap>

    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" />
    </httpHandlers>

  </system.web>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!--<add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />-->
      <remove name="dotless" />
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="File" requireAccess="Script" preCondition="bitness64" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>

  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="KICLECKPROD02.KI-CLECKHEATON.LOCAL" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>-->

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2097152" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <dotless minifyCss="false" cache="true" web="false" strictMath="false" />

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>